
/*(3 × 0) + 1 = 1-й элемент*/
/*(3 × 1) + 1 = 4-й элемент*/
/*(3 × 2) + 1 = 7-й элемент*/

.list li:nth-child(3n+1) {
    background-color: #fc3b13;
}


/*(3 × 0) + 2 = 2-й элемент*/
/*(3 × 1) + 2 = 6-й элемент*/
/*(3 × 2) + 2 = 8-й элемент*/

.list li:nth-child(3n+2) {
    background-color: #fcbf4a;
}


/*(3 × 0) + 3 = 3-й элемент*/
/*(3 × 1) + 3 = 6-й элемент*/
/*(3 × 2) + 3 = 9-й элемент*/

.list li:nth-child(3n+3) {
    background-color: #12fc23;
}


ul{
    font-size: 40px;
    color: #0E1116;
}